body {
    font-family: Arial, sans-serif;
}

a, a:visited, a:focus, .submit-btn:visited, .submit-btn:focus {
    text-decoration: none;

}

.submit-btn:active{
    color: white;
}

.navbar-options a:visited, .navbar-options a:focus{
    color: inherit;
}

.navbar-options, #pmb-index{
    transition: box-shadow 0.3s ease;
}

.navbar-options:active , #pmb-index:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 1px 3px rgba(0,0,0,0.23);
    transform: translateY(3px);
}

.navbar-options:hover, #pmb-index:hover {
    box-shadow: 0 10px 20px rgba(0,0,1,0.25), 0 6px 6px rgba(0,0,1,0.30);
}

#path-bar, #welcome-msg {
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

#welcome-msg, #update-profile-info, #iban-content, #first-steps, #balance-information, #update-password {
    text-align: center;
    margin: auto;

}

.transaction-tables, #bank-account-table , #pay-my-buddy-iban{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#transaction_history table th, #transaction_history table td, #bank-account-table td, #bank-account-table th,
#pay-my-buddy-iban th, #pay-my-buddy-iban td, #contact_list table th, #contact_list table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#transaction_history table th , #bank-account-table th, #pay-my-buddy-iban th, #contact_list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#iban{
    width: 16em;
}

#transfer-transaction, #withdrawal-transaction, #deposit-transaction, #withdrawal-ko-transaction, #transaction_history
#contact_list, #add-contact, #contact_list h2, #deposit-instructions, #pagination {
    text-align: center;
}

#pmb-index {
    background-color: rgb(138, 195, 73);
    border-radius: 5px;
    color: white;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#navbar li {
    float: right;
}

#navbar li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li {
    color: black;
}

#navbar li.active {
    color: blue;
}

#home-button-div {
    float: left;
}



.first-info{
    width: 75%;
    margin: auto;
    padding: 10px;
    background-color: rgb(138, 195, 73);
    border-radius: 5px;
}


.navbar-pages form {
    display: inline;
    text-decoration: none;
}

.navbar-pages button {
    background: none;
    color: inherit;
    border: none;
    padding:0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 13px;
}

.field {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    margin: 15px 10px 15px 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.field:hover {
    box-shadow: 0 10px 20px rgba(0,0,1,0.25), 0 6px 6px rgba(0,0,1,0.30);
}

.field:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 1px 3px rgba(0,0,0,0.23);
    transform: translateY(3px);
}


#withdrawal-form {
    width: 50%;
    margin: auto;
}


.submit-btn{
    background-color: rgb(92, 185, 92);
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    transition: box-shadow 0.3s ease;
}

.submit-btn:hover {
    box-shadow: 0 20px 30px rgba(0,0,1,0.25), 0 10px 6px rgba(0,0,1,0.30);
}

.submit-btn:active {
    box-shadow: 0 4px 10px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
    transform: translateY(3px);
}

#remove-btn{
    margin-top : 1em;
}


.error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    font-weight: bold;
    z-index: 999;

}

#pay-my-buddy-iban{
    margin-bottom: 1em;
}



#transfer-transaction div, .change_password-field{
    margin: 10px;
}

#test-deposit{
    background-color: red;
    color: white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    margin: 15px;
}

#table-container, #contact_list{
    width: fit-content;  /* adjust the container width to fit the content */
    margin: auto;  /* center the container horizontally */
}

#transfer-history-table, #my_contact {
    width: auto;
    max-width: 950px;
}

/* General button styling */
#pagination button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No borders */
    color: white; /* White text */
    padding: 3px 3px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Arrange them in a row */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin between buttons */
    cursor: pointer; /* Add a hand cursor on hover */
    transition: background-color 0.3s; /* Add transition effect */
}

/* Change the background color on hover */
#pagination button:hover {
    background-color: #34B301;
    box-shadow: 0 5px 10px rgba(0,0,1,0.25), 0 3px 3px rgba(0,0,1,0.30);
}

/* Style for the active/current button */
#pagination button.active {
    font-weight: bold; /* Make text bold */
    background-color: #3e8e41; /* Add a darker background */
    box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 1px 3px rgba(0,0,0,0.23);
}

.profile-info{
    background-color: rgb(197, 197, 197);
    padding: 10px;
    margin: 15px 10px 15px 10px;
    border-radius: 10px;
}

#profile-balance, .profile-info-line{
    margin: 1px 0 1px 0;
}

#remove-contact{
    margin: 1px 0 1px 0;
    padding: 2px 2px 2px 2px ;
    border-radius: 2px;
}

#home-image-container{
    display: flex;
}

#home-image{
    margin:auto;
    width: 500px;
    height: auto;
}

#fee-info{
    font-size: 10px;
    color: #ff0000;
    padding: 0;
    margin: 0;
}
