<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>Contact</title>
</head>
<body>
<section th:insert="fragments :: navbar"></section>
<section id="path-bar">
    <nav>
        Home / Contact
    </nav>
</section>
<div class="first-info">
<section id="add-contact" >
    <div th:insert="fragments :: errorPanel"></div> <!-- hidden div to display error message-->

    <div id="add_contact" class="field">
        <h2>Add Contact</h2>
        <form th:action="@{/addContact}" method="post">
            <label for="contactUsername">Contact username:</label>
            <input type="text" id="contactUsername" name="contactUsername">
            <button class="submit-btn" type="submit">Add Contact</button>
        </form>
    </div>
</section>
<section id="list_contact" class="field" >
    <div id="contact_list">
        <h2>My Contacts</h2>
        <table id="my_contact">
            <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.username}"></td>
                <td th:text="${contact.firstName}"></td>
                <td th:text="${contact.lastName}"></td>
                <td>
                    <form th:action="@{/removeContact}" method="post">
                        <input type="hidden" th:value="${contact.id}" name="contactId" />
                        <button class="submit-btn" id="remove-contact" type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
</div>


</body>
</html>
