<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section id="navbar" th:fragment="navbar">
  <div id="home-button-div">
    <ul>
      <li id="home-li" class="navbar-options"><a id="pmb-index" th:href="@{/home}"> Pay My Buddy</a></li>
    </ul>
  </div>

  <div class = navbar-pages>
    <ul>
      <li class="navbar-options">
        <form th:action="@{/logout}" method="post" >
          <button id="log-off_button" type="submit">Log off</button>
        </form>
      </li>
      <li class="navbar-options"><a th:href="@{/contact}">Contact</a></li>
      <li class="navbar-options"><a th:href="@{/profile}">Profile</a></li>
      <li class="navbar-options"><a th:href="@{/transfer}">Transfer</a></li>
      <li class="navbar-options"><a th:href="@{/home}">Home</a></li>
    </ul>
  </div>
</section>

<div  th:if="${errorMsg}" th:fragment="errorPanel" class="error-message" role="alert">
  <p th:text="${errorMsg}"></p>
</div>

</body>
</html>