<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>home</title>
</head>
<body>
<section th:insert="fragments :: navbar"></section>

<section id="path-bar">
    <nav>
        Home
    </nav>
</section>
<section id="profile-info">
    <p id="welcome-msg">Hello, <span th:text ="${currentUser.username}"></span>. <br>
        Your current balance is <span th:text ="${currentUser.wallet.balance}"></span> €</p>
</section>
</body>
</html>
