<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <title>myAccount</title>
</head>
<body>
<section id="navbar">
    <div id="home-button-div">
        <ul>
            <li id="home-li"><a id="home-button" href="/">Pay My Buddy</a></li>
        </ul>
    </div>

    <div class = navbar-pages>
        <ul>
            <li>
                <form th:action="@{/logout}" method="post" >
                    <button type="submit">Log off</button>
                </form>
            </li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li><a th:href="@{/transaction}">Transfer</a></li>
            <li><a th:href="@{/myAccount.html}">Home</a></li>
        </ul>
    </div>
</section>
<section id="path-bar">
    <nav>
        Home
    </nav>
</section>
<section id="profile-info">
    <p>hello User</p>
    <!--
    <p>Hello, <span th:text ="${currentUser.firstName}"></span> , your current balance is
        <span th:text ="${currentUser.balance.amount}"></span> €</p>
        -->
</section>
</body>
</html>
