<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width; initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <title>Profile</title>
</head>
<body>
<section th:insert="fragments :: navbar"></section>
<section id="path-bar">
  <nav>
    Home / Profile
  </nav>
</section>
<div class="first-info">
<section>
  <div class="field">User name: <span th:text ="${currentUser.username}"></span></div>
  <div class="field">First name: <span th:text ="${currentUser.firstName}"></span></div>
  <div class="field">Last name: <span th:text ="${currentUser.lastName}"></span></div>
  <div class="field">Email: <span th:text ="${currentUser.email}"></span></div>

  <a th:href="@{/update_profile}" class="btn">update</a>

</section>

<section id="bank-account">

  <div th:insert="fragments :: errorPanel"></div> <!-- hidden div to display error message-->

  <div class="field">Balance: <span th:text ="${currentUser.wallet.balance} + '€'"></span></div>

  <div th:if="${hasBankAccount}" id="saved-bank-Account">
    <table id="bank-account-table" >
      <thead>
      <tr>
        <th>Account owner</th>
        <th>Iban</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${bankAccount.getTitle()}"></td>
          <td th:text="${bankAccount.getIban()}"></td>
        </tr>
      </tbody>
    </table>

    <form th:action="@{/removeBankAccount}" method="post">
      <input type="hidden" th:value="${currentUser.getId()}" name="appUserId">
      <button type="submit" id="remove-btn">Remove bank account</button>
    </form>
  </div>


  <div th:if="${!hasBankAccount}" id="add-bank-account">
    <form th:action="@{/addBankAccount}"  method="post">

      <label for="lastName"><b>Last name</b></label>
      <input type="text" id="lastName" name="lastName" placeholder="Enter last name ">

      <label for="firstName"><b>First Name</b></label>
      <input type="text" id="firstName" name="firstName" placeholder="Enter first name ">

      <label for="Iban"><b>Iban</b></label>
      <input type="text" id="iban" name="iban" placeholder="FR1212341234123412341234567">

      <button type="submit" id="update-btn">Add bank account</button>
    </form>
  </div>

  <!-- removed deposit and withdrawal section from here-->

</section>
</div>
</body>
</html>

