<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width; initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <title>Profile</title>
</head>
<body>
<section th:insert="fragments :: navbar"></section>
<section id="path-bar">
  <nav>
    Home / Profile
  </nav>
</section>
<section id="profile-info">
    <div class="field">User name: <span th:text ="${currentUser.username}"></span></div>
  <div class="field">First name: <span th:text ="${currentUser.firstName}"></span></div>
  <div class="field">Last name: <span th:text ="${currentUser.lastName}"></span></div>
  <div class="field">Email: <span th:text ="${currentUser.email}"></span></div>
  <!--
  <div class="field">Balance: <span th:text ="${currentUser.wallet.balance} + '€'"></span></div>
  -->

</section>
<form action="#" th:action="@{/balance}" method="post" class="deposit">
  <label for="balance">Add amount :</label>
  <input type="text" name="amount" id="balance" placeholder="0">
  <button type="submit" id="submit-btn">Add</button>
</form>
</body>
</html>

